# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/

# dotenv environment constiable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

ServiceAccount.json

bamboo-media*.json
# bamboo-media-395402-77c8ef6587a6.json